---
import cv from '../components/Cv.json'
import Content from '../components/Content.astro'
import CvSec from '../components/cv/Sec.astro'
import CvSecTitle from '../components/cv/SecTitle.astro'
import CvSubSec from '../components/cv/SubSec.astro'
import CvSubSecItems from '../components/cv/SubSecItems.astro'
import CvSubSecTitle from '../components/cv/SubSecTitle.astro'
import Document from '../layouts/Document.astro'
---

<Document>
  <Content className="">
    <CvSec className="gap-4">
      <!-- propic -->
      <CvSec className="">
        <div class="place-self-center rounded-full border border-zinc-900 border-spacing-4 dark:border-zinc-300 p-[1px]">
          <img src="/propic.jpg" alt="void" class="object-cover w-[100px] rounded-full" />
        </div>
      </CvSec>

      <CvSec className="gap-2">
        <!-- links -->
        <CvSec className="gap-2">
          <CvSecTitle className="gap-2" title={cv.Links.k}>
            <div class="i-ion-link-outline"></div>
          </CvSecTitle>
          <CvSubSec className="gap-1">
            <CvSubSecItems className="gap-1">
              <div class="cv-item-col">
                <div class="i-ion-logo-github"></div>
                <span>{cv.Links.Github.k}</span>
                <a class="cv-item-link" href={cv.Links.Github.href} target="_blank" rel="noopener noreferrer">{cv.Links.Github.aname}</a>
              </div>
              <div class="cv-item-col">
                <div class="i-ion-logo-gitlab"></div>
                <span>{cv.Links.Gitlab.k}</span>
                <a class="cv-item-link" href={cv.Links.Gitlab.href} target="_blank" rel="noopener noreferrer">{cv.Links.Gitlab.aname}</a>
              </div>
              <div class="cv-item-col">
                <div class="i-ion-logo-linkedin"></div>
                <span>{cv.Links.Linkedin.k}</span>
                <a class="cv-item-link" href={cv.Links.Linkedin.href} target="_blank" rel="noopener noreferrer">{cv.Links.Linkedin.aname}</a>
              </div>
              <div class="cv-item-col">
                <div class="i-ion-earth-outline"></div>
                <span>{cv.Links.Website.k}</span>
                <a class="cv-item-link" href={cv.Links.Website.href} target="_blank" rel="noopener noreferrer">{cv.Links.Website.aname}</a>
              </div>
            </CvSubSecItems>
          </CvSubSec>
        </CvSec>

        <!-- languages -->
        <CvSec className="gap-2">
          <CvSecTitle className="gap-2" title={cv.Languages.k}>
            <div class="i-ion-language-outline"></div>
          </CvSecTitle>
          <CvSubSec className="gap-1">
            <CvSubSecTitle title="English" />
            <CvSubSecItems className="gap-1">
              <div class="cv-item-col">
                <div class="i-ion-headset-outline"></div>
                <span>{cv.Languages.English.listening.k}</span>
                <span>{cv.Languages.English.listening.level}</span>
              </div>
              <div class="cv-item-col">
                <div class="i-ion-chatbubble-ellipses-outline"></div>
                <span>{cv.Languages.English.speaking.k}</span>
                <span>{cv.Languages.English.speaking.level}</span>
              </div>
              <div class="cv-item-col">
                <div class="i-ion-book-outline"></div>
                <span>{cv.Languages.English.reading.k}</span>
                <span>{cv.Languages.English.reading.level}</span>
              </div>
              <div class="cv-item-col">
                <div class="i-ion-at-outline"></div>
                <span>{cv.Languages.English.writing.k}</span>
                <span>{cv.Languages.English.writing.level}</span>
              </div>
            </CvSubSecItems>
          </CvSubSec>
        </CvSec>

        <!-- education -->
        <CvSec className="gap-2">
          <CvSecTitle className="gap-2" title={cv.Education.k}>
            <div class="i-ion-school-outline"></div>
          </CvSecTitle>
          {
            cv.Education.v.map(e => (
              <CvSubSec className="gap-1">
                <CvSubSecTitle title={e.k} />
                <CvSubSecItems className="gap-1">
                  <div class="cv-item-row">
                    {e.v.map(i => (
                      <span class="opacity-80">{i}</span>
                    ))}
                  </div>
                </CvSubSecItems>
              </CvSubSec>
            ))
          }
        </CvSec>

        <!-- work -->
        <CvSec className="gap-2">
          <CvSecTitle className="gap-2" title={cv.Work.k}>
            <div class="i-ion-extension-puzzle-outline"></div>
          </CvSecTitle>
          {
            cv.Work.v.map(e => (
              <CvSubSec className="gap-1">
                <CvSubSecTitle className="" title={e.k} />
                <CvSubSecItems className="gap-1">
                  <div class="cv-item-row">
                    {e.v.map(i => (
                      <span class="opacity-80">{i}</span>
                    ))}
                  </div>
                </CvSubSecItems>
              </CvSubSec>
            ))
          }
        </CvSec>

        <!-- publications -->
        <CvSec className="gap-2">
          <CvSecTitle className="gap-2" title={cv.Publications.k}>
            <div class="i-ion-layers-outline"></div>
          </CvSecTitle>
          {
            cv.Publications.v.map(e => (
              <CvSubSec className="gap-1">
                <CvSubSecTitle className="" title={e.k} />
                <CvSubSecItems className="gap-1">
                  <div class="cv-item-row">
                    {e.v.map(i => (
                      <span class="opacity-80">{i}</span>
                    ))}
                  </div>
                </CvSubSecItems>
              </CvSubSec>
            ))
          }
        </CvSec>

        <!-- interests -->
        <CvSec className="gap-2">
          <CvSecTitle className="gap-2" title={cv.Interests.k}>
            <div class="i-ion-heart-outline"></div>
          </CvSecTitle>
          <CvSubSec className="gap-2">
            <CvSubSecItems className="gap-1">
              <div class="cv-item-col">
                {cv.Interests.v.map(e => <span class="cv-item-tag">{e}</span>)}
              </div>
            </CvSubSecItems>
          </CvSubSec>
        </CvSec>

        <!-- programming -->
        <CvSec className="gap-2">
          <CvSecTitle className="gap-2" title={cv.Programming.k}>
            <div class="i-ion-cube-outline"></div>
          </CvSecTitle>
          <CvSubSec className="gap-2">
            <CvSubSecItems className="gap-1">
              <div class="cv-item-col">
                {cv.Programming.v.map(e => <span class="cv-item-tag">{e}</span>)}
              </div>
            </CvSubSecItems>
          </CvSubSec>
        </CvSec>

        <!-- projects -->
        <CvSec className="gap-2">
          <CvSecTitle className="gap-2" title={cv.Projects.k}>
            <div class="i-ion-shapes-outline"></div>
          </CvSecTitle>
          {
            cv.Projects.v.map(e => (
              <CvSubSec className="gap-1">
                <CvSubSecTitle className="font-dmmono" title={e.k} />
                <CvSubSecItems className="gap-2">
                  <div class="cv-item-row">
                    <a class="cv-item-link" href={e.href} target="_blank" rel="noopener noreferrer">
                      {e.repo}
                    </a>
                    <span class="opacity-80">{e.description}</span>
                  </div>
                  <div class="cv-item-col">
                    {e.tags.map(t => (
                      <span class="cv-item-tag">{t}</span>
                    ))}
                  </div>
                </CvSubSecItems>
              </CvSubSec>
            ))
          }
        </CvSec>
      </CvSec>
    </CvSec>
  </Content>

  <style>
    .cv-item-col {
      @apply flex;
      @apply flex-wrap;
      @apply items-center;
      @apply gap-2;
    }
    .cv-item-row {
      @apply flex;
      @apply flex-wrap;
      @apply flex-col;
    }
    .cv-item-link {
      @apply text-blue-500;
      @apply hover:opacity-80;
      @apply focus:opacity-50;
      @apply font-dmmono;
    }
    .cv-item-tag {
      @apply px-1;
      @apply bg-orange-200;
      @apply rounded-sm;
      @apply font-dmmono;
      @apply text-sm;
    }
    :global(.dark) .cv-item-tag {
      @apply bg-zinc-700;
    }
  </style>
</Document>
